<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Surya_motorConnectionString" connectionString="workstation id=planetx_Data_stu4.mssql.somee.com;packet size=4096;user id=dhruvprajapati90_SQLLogin_1;pwd=sszgyhfbeh;data source=planetx_Data_stu4.mssql.somee.com;persist security info=False;initial catalog=planetx_Data_stu4;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>


	<system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>